In [1]:
1 + 1

2

In [2]:
1 + 2

3

In [3]:
3 / 2.4

1.25

In [4]:
3 * 9

27

In [5]:
a = 1
b = 2
a + b

3

In [6]:
a = 'Python'

In [7]:
b = 'Life'

In [8]:
print(a, 'is', b)

Python is Life

In [9]:
PRINT(a) #파이썬은 대문자를 구별한다. 대문자를 구분하기 때문에 print 와 PRINT 는 다른 명령어로 판단한다.

NameError: name 'PRINT' is not defined

In [13]:
a = 3
if a > 1:
    print("a is greater than 1") #들여쓰기는 아주 중요하다.

a is greater than 1

In [14]:
for a in [1,2,3]:
    print(a) #for는 변수를 하나씩 던져 준다. 반복문

1
2
3

In [ ]:
# for문과 While 문은 거의 동일하다. for문은 몇번 반복한지 정확할때 사용, While문은 몇번 반복할지 정하지 못하였을때 사용

In [15]:
i = 0 # 컴퓨터의 경우 i 를 많이 사용한다.
while i < 3:
    i = i + 1 # i가 0 부터 해서 3이하 일때 까지 계속 늘어난다.
    print(i)

1
2
3

In [16]:
i = 0
while i < 5:
    i = i + 1
    print(i)

1
2
3
4
5

In [17]:
def add(a,b): #함수 정의
    return a+b #변수가 들어오면 알아서 더해준다.

add(3,5)

8

In [22]:
def add(a,b,c):
    return a+b-c
add(5,2,3)

4

In [23]:
#### 복습 나머지 연산자
7 % 3

1

In [24]:
12 % 2 # 2로 나누어서 0이 나오면 그 수는 언제나 짝수있다.

0

In [25]:
13 % 2 # 2로 나누어서 1이 나오면 그 수는 항상 홀수이다.

1

In [26]:
30 % 5 # 특정 수로 나눈 값이 0이 나오면 그 수는 특정수의 배수이다.

0

In [27]:
7 / 4 #그냥 나누기

1.75

In [28]:
7 // 4 #나머지 만 보인다.

1

In [29]:
################ 문자형 #######################

In [30]:
"Hello World"

'Hello World'

In [31]:
'Hello World'

'Hello World'

In [32]:
"""Life is too short"""

'Life is too short'

In [33]:
'''You need python'''

'You need python'

In [34]:
"Python's favorite food is perl" #큰 따옴표를 사용하여 작은 따옴표를 표현할 수 있다.

"Python's favorite food is perl"

In [35]:
'"Python is very easy" he says' #작은 따옴표를 사용하여 큰 따옴표를 표현할 수 있다.

'"Python is very easy" he says'

In [36]:
'Python\'s favorite food is perl' #백슬래쉬(\)를 사용하면 무효화 가능하다.

"Python's favorite food is perl"

In [38]:
"\"Python is very easy.\" he says."

'"Python is very easy." he says.'

In [44]:
multiline = "LIfe is too short,You need Python"

In [40]:
multiline

'LIfe is too short, You need Python'

In [48]:
multiline = '''
Life is too short,
you need python
''' ########## 삼중 따옴표로 문자열을 더 잘 표현 가능하다.

In [49]:
multiline # \n 은 줄바꿈 표시

'\nLife is too short,\nyou need python\n'

In [50]:
print(multiline)

Life is too short,
you need python

In [51]:
##### 문자열 연산하기 #######

In [52]:
head = "Python"

In [53]:
tail = " is fun!"

In [54]:
head + tail

'Python is fun!'

In [55]:
a = 'Python'

In [56]:
a * 2

'PythonPython'

In [58]:
print("=" * 50)
print("my program")
print("=" * 50)

==================================================
my program
==================================================

In [59]:
a = "Life is"
len(a) #length 문자열 길이 구하기/// 결과 예상은 6이지만 결과 값은 7이 나왔다 그 이유는 빈칸도 글자로 세었기 때문이다.

7

In [60]:
a = "Life is too short, You need Python"

In [61]:
a[3]  #인덱싱는 []를 사용 /// 파이썬은 0부터 시작하기 때문에 0,1,2,3 즉 e 가 결과 값으로 나온 것이다.

'e'

In [62]:
a[-1] #맨 뒤의 글자가 나온다.

'n'

In [63]:
a = 'Life is too short, You need Python'

In [64]:
a[0:4] #슬라이싱 기법, 0 부터 4까지의 글자를 사용 // 뒷자는 4는 미만을 뜻한다. 4번째 글자는 포함되지 않는다.

'Life'

In [65]:
a[0:3]

'Lif'

In [66]:
a[0:5] # 0,1,2,3,4

'Life '

In [67]:
a[5:7] # 5,6

'is'

In [68]:
a[19:]

'You need Python'

In [69]:
a[:17]

'Life is too short'

In [70]:
a[:]

'Life is too short, You need Python'

In [71]:
a[19:-7]

'You need'

In [75]:
a = "20010331Rainy"

In [76]:
date = a[:8]

In [77]:
weather = a[8:]

In [78]:
a = '20010331Rainy'

In [79]:
year = a[:4]

In [80]:
day = a[4:8]

In [81]:
weather = a[8:]

In [82]:
year

'2001'

In [83]:
day

'0331'

In [84]:
weather

'Rainy'

In [85]:
### 인덱싱과 슬라이싱###
#인덱싱은 한글자 씩
#슬라이싱은 여러글자

In [86]:
a = 'pithon'

In [87]:
a[1]

'i'

In [90]:
"I eat %d apples." % 3 ### %d 는 숫자를 나타내는 자리 이고 뒤에 % 숫자를 사용하여 지정된 자리에 숫자를 넣을 수 있다.

'I eat 3 apples.'

In [91]:
'I eat %s apples.' % 'five' ### %s 는 문자를 나타내는 자리 이다. 숫자도 사용 가능하다.

'I eat five apples.'

In [92]:
number = 3
'I eat %s apples' % number

'I eat 3 apples'

In [93]:
'I eat %d apples' % number

'I eat 3 apples'

In [94]:
number = 10
day = 'three'
'I ate %d apples. so I was sick for %s days.' %(number,day)

'I ate 10 apples. so I was sick for three days.'

In [95]:
'Error is %d%%' %98

'Error is 98%'

In [96]:
'%10s' % 'hi' #전체 길이가 10의 공간에 값을 오른쪽으로 넣고 나머지는 공백

'        hi'

In [97]:
'%-10sjane' %'hi' ## '%-10s' 이후 jane이 마지막으로 들어간다.

'hi        jane'

In [99]:
'%0.4f' %3.42134234 #소수점 4자리 까지 나타낸다.(0.4일 경우)

'3.4213'

In [100]:
'%10.4f' %3.42134234 #10개의 공간안에 소수점 4자리인 숫자를 넣어 표현된다.

'    3.4213'

In [101]:
### format 함수 ###

In [102]:
'I eat {0} apples'.format(3) ## {}를 사용한다.

'I eat 3 apples'

In [103]:
'I eat {0} apples, {1} pearls'.format('three','five')

'I eat three apples, five pearls'

In [105]:
number = 10
day = 'three'
'I ate {0} apples, so I was sick for {1} days.'.format(number,day)

'I ate 10 apples, so I was sick for three days.'

In [108]:
'I ate {number} apples, so I was sick for {day} days'.format(number=10,day='three')

'I ate 10 apples, so I was sick for three days'

In [141]:
a = 10
b = 3
c = 'I ate {0} apples, so I was sick for {1} days'.format(a,b)

In [114]:
c

'I ate 10 apples, so I was sick for 3 days'

In [142]:
a = 2
b = 'nine'

In [143]:
c

'I ate 10 apples, so I was sick for 3 days'

In [118]:
"{0:<10}".format("hi")

'hi        '

In [119]:
"{0:>10}".format("hi")

'        hi'

In [120]:
"{0:^10}".format("hi")

'    hi    '

In [121]:
a = 'hobby'
a.count('b') #count는 선택된 글자가 몇개 있는지 알려준다.

2

In [122]:
a = 'Python is the best choice'

In [123]:
a.find('b') #find는 몇번째에 있는지 알려준다.

14

In [124]:
a.find("c")

19

In [125]:
a.find("k") # -가 나타내는것은 문자열에 존재 하지 않는다

-1

In [126]:
a = 'Life is too short'

In [127]:
a.index('t') # 맨처음 나오는 문자의 위치를 알려준다.

8

In [128]:
" ".join('abcd') # join은 문자 사이사이에 집어 넣을 수 있다.

'a b c d'

In [129]:
"1,2,3,4".join('abcd')

'a1,2,3,4b1,2,3,4c1,2,3,4d'

In [130]:
a = 'hi'
a.upper() #소문자에서 대문자

'HI'

In [131]:
a = 'HI'
a.lower() #대문자에서 소문자

'hi'

In [132]:
a = ' hi '

In [133]:
a.strip() #여백 공간을 날려준다.

'hi'

In [134]:
a = 'Life is too short'

In [135]:
a.replace('Life', "Your leg") #문자열 바꾸기

'Your leg is too short'

In [137]:
a = 'Life is too short'
a.split() #문자열 나누기 // 리스트에 하나씩 들어가게 된다.

['Life', 'is', 'too', 'short']

In [138]:
b = 'a:b:c:d'
b.split(':') # : 에 맞춰 나누어

['a', 'b', 'c', 'd']

In [144]:
################################## LIST(리스트)####################################

In [145]:
# 리스트이름 = [요소1, 요소2, 요소3, ...] 대괄호 주의

In [147]:
a = [] # 빈 리스트
b = [1, 2, 3] # 숫자 리스트
c = ['life', 'is', 'too', 'short'] # 문자 리스트
d = [1, 2, 'life', 'is'] # 숫자와 문자 동시 사용 가능 // 다른 언어에서는 사용 불가
e = [1, 2, ['life', 'is']] # 리스트 안에 리스트  // 다른 언어에서는 사용 불가

In [148]:
a = [1, 2, 3] #리스트의 인덱싱
a

[1, 2, 3]

In [149]:
a[0]

1

In [150]:
a[0] + a[2]

4

In [151]:
a[-1]

3

In [156]:
a = [1, 2, 3, ['a', 'b', 'c']] #리스트 안의 리스트

In [153]:
a[0]

1

In [157]:
a[3]

['a', 'b', 'c']

In [158]:
a[-1]

['a', 'b', 'c']

In [160]:
a[-1][0] #리스트 안의 리스트 인덱싱

'a'

In [161]:
a[-1][-1]

'c'

In [163]:
a = [1, 2 , 3, 4, 5] # 리스트 슬라이싱
a[0:2]

[1, 2]

In [164]:
### 리스트로 연산하기 ###

In [166]:
a = [1, 2, 3] # 리스트의 합
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [167]:
a = [1, 2, 3] # 리스트의 곱
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [169]:
len(a) # 리스트의 길이

3

In [170]:
a = [1,2,3]
a[2] + "hi" # 정수와 문자는 더할 수 없다.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [171]:
str(a[2]) + 'hi' # 굳이 숫자와 문자를 더하고 싶을때 str 사용 // str = 문자로 변경

'3hi'

In [172]:
### 리스트는 값을 수정 할 수 있거나 삭제 할 수 있지만 류플은 불가능 하다. ###

In [173]:
a = [1,2,3] # 리스트 값 수정
a[2] = 4
a

[1, 2, 4]

In [174]:
a = [1,2,3] # 리스트 값 삭제
del a[1]
a

[1, 3]

In [175]:
a = [1,2,3,4,5] # 슬라이싱으로 값 삭제
del a[2:]

In [176]:
a

[1, 2]

In [177]:
a = [1,2,3] ## append 덧붙이거나 첨부하다. 리스트의 마지막에 추가 된다. 
a.append(4)
a

[1, 2, 3, 4]

In [179]:
a = [1,2,3] # 리스트 안에 리스트 추가
a.append([4,5])
a

[1, 2, 3, [4, 5]]

In [180]:
a = [1, 4, 3, 2] # 리스트 정렬
a.sort()
a

[1, 2, 3, 4]

In [182]:
# reverse 는 순서와는 상관없이 리스트를 역순으로 뒤집어 준다. 
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

In [183]:
a = ['a', 'c', 'b']
a.sort()
a.reverse()
a

['c', 'b', 'a']

In [191]:
a = ['a', 'b', 'c']
a.index('c')

2